<!DOCTYPE html>
<html lang="pl">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Bartłomiej Deska</title>
</head>

<body>
	<h1>Bartłomiej Deska</h1>
	<h1>101553</h1>
	<table>
		<tr>
			<th>name</th>
			<th>value</th>
		</tr>
		<tr>
			<td>ip</td>
			<td>{{ .IP }}</td>
		</tr>
		<tr>
			<td>hostname</td>
			<td>{{ .Hostname }}</td>
		</tr>
		<tr>
			<td>version</td>
			<td>{{ .Version }}</td>
		</tr>
	</table>
</body>

</html>